.swagger-section {
    background-color: $background-color;
    color: $text-color;
    min-height: 100%;

    .swagger-ui-wrap {
        background-color: transparent;
        min-height: 100%;
        padding: 1.618em 3.236em;
        padding-top: 0.809em;
        background-color:#fcfcfc;

        font-family: $base-font-family;
        
        .info .info_title {
            font-family: $custom-font-family;
        }

        b, strong {
            font-family: $base-font-family;
        }

        p{
            color: $text-color;
        }

        pre {
            font-family: $code-font-family;
        }

        .model-signature {
            font-family: $base-font-family;
        }

        .markdown p code, .markdown li code {
            font-family: $code-font-family;
        }
        /* JSONEditor specific styling */
        .editor_holder {
            font-family: $code-font-family;
        }

        h1 {
            font-family: $base-font-family;
        }

        .code {
            font-family: $code-font-family;
        }

        .markdown {
            pre {
                font-family: $code-font-family;
            }
        }

        ul#resources {
            font-family: $base-font-family;
            font-size: 0.9em;

            li.resource {
                div.heading {
                    h2 {
                        font-family: $base-font-family;
                    }
                }

                ul.endpoints {
                    li.endpoint {
                        ul.operations {
                            li.operation {
                                div.content {
                                    div.sandbox_header a {
                                        padding: 6px 12px 8px 12px;
                                    }
                                    div.response {
                                        div.block {
                                            pre {
                                                font-family: $code-font-family;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        p#colophon {
            font-family: $base-font-family;
        }

        .markdown ol, .markdown ul {
            font-family: $base-font-family;
        }
    }
}
