#text-head {
    font-family: $custom-font-family;
}

/* tag titles */
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a {
    font-family: $custom-font-family;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
    font-family: $custom-font-family;
}

.title1 {
    font-family: $custom-font-family;
}

.text-faded {
    font-family: $base-font-family;
}

.section-heading {
    font-family: $custom-font-family;
}

.description li {
    font-family: $base-font-family;
}

.curl {
    font-family: $code-font-family;
}

.curl_title {
    font-family: $custom-font-family;
}

.markdown p {
    font-family: $base-font-family;
}

.swagger-section .swagger-ui-wrap .code {
    font-family: $base-font-family;
}

.swagger-section .swagger-ui-wrap b {
    font-family: $base-font-family;
}

.navbar-default .nav > li .details {
    font-family: $base-font-family;
}
